force-app/main/default/flows/Contact_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Salesforce_Technology</name>
        <label>Assign Salesforce Technology</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesforce_Technology__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsTo.Salesforce_Technology__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salesforce_Segment_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Caelius_Alignment_Assignment</name>
        <label>Caelius Alignment Assignment</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>$Record.Caelius_Alignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsTo.Caelius_Alignment__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Salesforce_Record_Type</name>
        <label>Populate Salesforce Record Type</label>
        <locationX>94</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Reports_to_is_Filled_for_the_first_time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Salesforce_Industry_Assignment</name>
        <label>Salesforce Industry Assignment</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesforce_Industry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsTo.Salesforce_Industry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salesforce_Market_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Salesforce_Market_Assignment</name>
        <label>Salesforce Market Assignment</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesforce_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsTo.Salesforce_Market__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caelius_Alignmentis_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Salesforce_Segment_Assignment</name>
        <label>Salesforce Segment Assignment</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Salesforce_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ReportsTo.Salesforce_Segment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salesforce_Industry_is_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Caelius_Alignmentis_Null</name>
        <label>Caelius Alignmentis Null</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caelius_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Caelius_Alignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caelius_Alignment_Assignment</targetReference>
            </connector>
            <label>Caelius Alignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Reports_to_is_Filled_for_the_first_time</name>
        <label>Check if Reports to is Filled for the first time</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reports_To_populated_first_time</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReportsToId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ReportsToId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_technology_is_null</targetReference>
            </connector>
            <label>Reports To populated first time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>226</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Check_if_Reports_to_is_Filled_for_the_first_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_not_Salesforce_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Salesforce_Record_Type</targetReference>
            </connector>
            <label>Check if not Salesforce Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_and_Email_is_Not_Null</name>
        <label>Is New and Email is Not Null</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_if_Reports_to_is_Filled_for_the_first_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>salesforce.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>Update Contact Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Industry_is_null</name>
        <label>Salesforce Industry is null</label>
        <locationX>182</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Market_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Industry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce_Industry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Industry_Assignment</targetReference>
            </connector>
            <label>Salesforce Industry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Market_is_null</name>
        <label>Salesforce Market is null</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Caelius_Alignmentis_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce_Market__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Market_Assignment</targetReference>
            </connector>
            <label>Salesforce Market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_Segment_is_null</name>
        <label>Salesforce Segment is null</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Industry_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_Segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce_Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Salesforce_Segment_Assignment</targetReference>
            </connector>
            <label>Salesforce Segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salesforce_technology_is_null</name>
        <label>Salesforce technology is null</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Segment_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Salesforce_technology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salesforce_Technology__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salesforce_Technology</targetReference>
            </connector>
            <label>Salesforce technology</label>
        </rules>
    </decisions>
    <description>Updated : 21-05-24 - Conditions  Moved from Start to decision
26-05-24 : Contact Record (Salesforce) &gt; set Salesforce Org info if blank from ReportTo</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Contact Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Salesforce_Record_Type</name>
        <label>Get Salesforce Record Type</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_and_Email_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesforce_Record_Type</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
