force-app/main/default/flows/Opportunity_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Salesforce_Contact_Collection</name>
        <label>Salesforce Contact Collection</label>
        <locationX>396</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>SalesforceContactCollector</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Salesforce_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Salesforce_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_isLeadContact_checkbox</name>
        <label>Update isLeadContact checkbox</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Salesforce_Contacts.isLeadContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salesforce_Contact_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Salesforce_Contact</name>
        <label>Update Salesforce Contact</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Salesforce_Contacts.Mulesoft_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACV_MuleSoft__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Salesforce_Contacts.Salesforce_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACV_Salesforce__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Salesforce_Contacts.Opportunity_Stage_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Lead_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SalesforceAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salesforce</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Lead_Contact</name>
        <label>Check Lead Contact</label>
        <locationX>396</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Contact_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsLeadContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Salesforce_Contacts.Salesforce_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LeadSourceContact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_isLeadContact_checkbox</targetReference>
            </connector>
            <label>IsLeadContact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save</label>
    <loops>
        <name>Loop_through_Salesforce_Contacts</name>
        <label>Loop through Salesforce Contacts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Child_Salesforce_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Salesforce_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Salesforce_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Salesforce_Contacts</name>
        <label>Get Child Salesforce Contacts</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Salesforce_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Salesforce_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Salesforce_Contacts</name>
        <label>Update Salesforce Contacts</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>SalesforceContactCollector</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Salesforce_Contacts</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SalesforceContactCollector</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Salesforce_Contact__c</objectType>
    </variables>
</Flow>
