force-app/main/default/flows/RT_Opportunity_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Hauler_Rate</name>
        <label>Add Hauler Rate</label>
        <locationX>666</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>haulerRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Orders.Hauler_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Purchase_Order_Amount</name>
        <label>Add Purchase Order Amount</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>purchaseOrderAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Orders.Total_Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sales_Order_Amount</name>
        <label>Add Sales Order Amount</label>
        <locationX>534</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>salesOrderAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Orders.Total_Order_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Hauler_Rate_Null_OR_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Count</name>
        <label>Assign Order Count</label>
        <locationX>323</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>orderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_Count_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Hauler_Rate_Null_OR_Zero</name>
        <label>Is Hauler Rate Null OR Zero?</label>
        <locationX>534</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Add_Hauler_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hauler_Rate_is_Null_OR_Zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Orders.Hauler_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Orders.Hauler_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Amount_Null_OR_Zero</name>
        <label>Is Order Amount Null OR Zero?</label>
        <locationX>501</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Order_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Order_Amount_is_Null_OR_Zero</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Orders.Total_Order_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Orders.Total_Order_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Count_2</name>
        <label>Is Order Count = 2?</label>
        <locationX>323</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Count_is_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Orders</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Record_Type</name>
        <label>Order Record Type?</label>
        <locationX>864</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Orders.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sales_Order_Amount</targetReference>
            </connector>
            <label>Sales Order</label>
        </rules>
        <rules>
            <name>Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Orders.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Purchase_Order_Amount</targetReference>
            </connector>
            <label>Purchase Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>profit</name>
        <dataType>Currency</dataType>
        <expression>{!salesOrderAmount} - ( {!purchaseOrderAmount} + {!haulerRate} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RT: Opportunity After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Opportunity After Update</label>
    <loops>
        <name>Loop_Through_Orders</name>
        <label>Loop Through Orders</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Order_Amount_Null_OR_Zero</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Orders</name>
        <label>Get Orders</label>
        <locationX>323</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>Profit_for_the_Deal__c</field>
            <value>
                <elementReference>profit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>197</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Orders</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>haulerRate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>orderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>purchaseOrderAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>salesOrderAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
