force-app/main/default/flows/RT_Order_After_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Case_Email_Notification</name>
        <label>Send Case Email Notification</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <actionName>Case.New_Case_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Case_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Increment_Purchase_Order_Count</name>
        <label>Increment Purchase Order Count</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>purchaseOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Sales_Order_Count</name>
        <label>Increment Sales Order Count</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>salesOrderCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_Type_Sales_Order_AND_Customer_PO_Populated</name>
        <label>Is Record Type Sales Order AND Customer PO# Populated?</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Is_Sales_Order_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Sales_Order_AND_Customer_PO_Populated</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_PO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Customer_PO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Type_Sales_Order_AND_Order_Amount_Changed</name>
        <label>Is Record Type Sales Order AND Order Amount Changed?</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Type_Sales_Order_AND_Customer_PO_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Order_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Order_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Order_Rejected</name>
        <label>Is Sales Order Rejected?</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Order_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Queue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Created</name>
        <label>Order Created?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Type_Sales_Order_AND_Order_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Order_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Sales_Order_Count</targetReference>
            </connector>
            <label>Sales Order Created</label>
        </rules>
        <rules>
            <name>Purchase_Order_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Purchase_Order_Count</targetReference>
            </connector>
            <label>Purchase Order Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>orderIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>RT: Order After Create or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT: Order After Create or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Send_Case_Email_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Old_Lost_Opportunity__c</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Case_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Quality Rejection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Queue</name>
        <label>Get Case Queue</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_Record_Type_Sales_Order_AND_Order_Amount_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchase_Order_Count__c</field>
            <value>
                <elementReference>purchaseOrderCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Order_Count__c</field>
            <value>
                <elementReference>salesOrderCount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Amount</name>
        <label>Update Opportunity Amount</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_Record_Type_Sales_Order_AND_Customer_PO_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Total_Order_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Customer_PO</name>
        <label>Update Opportunity Customer PO#</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Is_Sales_Order_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_PO__c</field>
            <value>
                <elementReference>$Record.Customer_PO__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Created</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>purchaseOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Opportunity.Purchase_Order_Count__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>salesOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record.Opportunity.Sales_Order_Count__c</elementReference>
        </value>
    </variables>
</Flow>
