force-app/main/default/flows/Update_Existing_Project_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>add_existing_project</name>
        <choiceText>add existing project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>add existing project</stringValue>
        </value>
    </choices>
    <choices>
        <name>create_new_project</name>
        <choiceText>create new project</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>create new project</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_option_selection</name>
        <label>check option selection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>choose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>if create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Existing Project on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Existing Project on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateProjectOnOpp</name>
        <label>UpdateProjectOnOpp</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>ChooseProject.Project__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>choose</name>
        <label>choose</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateProjectOnOpp</targetReference>
        </connector>
        <fields>
            <name>ChooseProject1</name>
            <fieldText>&lt;p&gt;Choose Project&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ChooseProject.Project__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>choose_one_option</name>
        <label>choose one option</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_option_selection</targetReference>
        </connector>
        <fields>
            <name>create</name>
            <choiceReferences>create_new_project</choiceReferences>
            <choiceReferences>add_existing_project</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>choose_one_option</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ChooseProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MPM4_BASE__Milestone1_Project__c</objectType>
    </variables>
</Flow>
